@{
    ViewData["Title"] = " Home Page";
}

<div class="vh-50">
    <h2 class="text-uppercase">
        Welcome to AN ENHANCED ACCESS CONTROL TECHNIQUE FOR DATA SECURITY IN CLOUD COMPUTING  Using KP-ABE Encryption
    </h2>
    <div class="row my-5">
        <div class="col col-2"> <img src="~/img/gitPic.png" class="img-fluid rounded-circle " alt="Ayomide Dosumu" /></div>
        <div class="col col-8">
            <p class="lead text-muted font-italic float-right">
                Data has become the enabling technology for many of the recent innovations.
                "More data trumps smarter algorithms" has been the chant behind this revolution in computing. Given the rate at which data is produced,
                there is growing necessity for scalable solutions to extract information out of them.
                Allowing the data to be stored in the cloud and be accessed without geographical and scalability limitations
                will remove many bottlenecks in bringing data-oriented innovations.<br /> (Rajesh, Swapna & Reddy, 2012)
            </p>
        </div>
       
       

    </div>
</div>
<div class="row p-3  border-top">
    <div class="col col-6 _login  text-center">
        <a class="btn btn-outline-dark" asp-action="Login">Login Here </a>
    </div>
    <div class="col col-6 text-center">
        <a class="btn btn-outline-info" asp-action="Register">Register Here</a>
    </div>
</div>

<style>
    ._login {
        border-right: 1px solid #ff00dc;
    }
</style>
